In [108]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from sklearn.ensemble  import RandomForestClassifier

In [109]:
df = pd.read_excel("C:/Users/mudia/Downloads/Financial_inclusion_dataset.xlsx")

df.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

In [111]:
df.isnull().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [112]:
df.duplicated().sum()

0

In [113]:
categorical_columns = df.select_dtypes(include=['object']).columns
categorical_columns = categorical_columns[~categorical_columns.isin(['country', 'year', 'uniqueid', 'bank_account'])]
categorical_columns

Index(['location_type', 'cellphone_access', 'gender_of_respondent',
       'relationship_with_head', 'marital_status', 'education_level',
       'job_type'],
      dtype='object')

In [114]:
label_encoder = LabelEncoder()

# Apply LabelEncoder to each categorical column and store the results in a new dataframe
encoded_df = df.copy()

for column in categorical_columns:
    encoded_df[column] = label_encoder.fit_transform(df[column])

encoded_df.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,0,1,3,24,0,5,2,3,9
1,Kenya,2018,uniqueid_2,No,0,0,5,70,0,1,4,0,4
2,Kenya,2018,uniqueid_3,Yes,1,1,5,26,1,3,3,5,9
3,Kenya,2018,uniqueid_4,No,0,1,5,34,0,1,2,2,3
4,Kenya,2018,uniqueid_5,No,1,0,8,26,1,0,3,2,5

In [115]:
#droppig the original categorical columns and concatenating the encoded columnsban
df.drop(columns=categorical_columns, inplace=True)
fin_df = pd.concat([df, encoded_df], axis=1)

In [116]:
df.head()

  country  year    uniqueid bank_account  household_size  age_of_respondent
0   Kenya  2018  uniqueid_1          Yes               3                 24
1   Kenya  2018  uniqueid_2           No               5                 70
2   Kenya  2018  uniqueid_3          Yes               5                 26
3   Kenya  2018  uniqueid_4           No               5                 34
4   Kenya  2018  uniqueid_5           No               8                 26

In [117]:
file_path = 'Financial_inclusion_saved.xlsx'
fin_df.to_excel(file_path, index=False)

In [118]:
fin_df.head()

,country,year,uniqueid,bank_account,household_size,age_of_respondent,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,3,24,Kenya,2018,uniqueid_1,Yes,0,1,3,24,0,5,2,3,9
1,Kenya,2018,uniqueid_2,No,5,70,Kenya,2018,uniqueid_2,No,0,0,5,70,0,1,4,0,4
2,Kenya,2018,uniqueid_3,Yes,5,26,Kenya,2018,uniqueid_3,Yes,1,1,5,26,1,3,3,5,9
3,Kenya,2018,uniqueid_4,No,5,34,Kenya,2018,uniqueid_4,No,0,1,5,34,0,1,2,2,3
4,Kenya,2018,uniqueid_5,No,8,26,Kenya,2018,uniqueid_5,No,1,0,8,26,1,0,3,2,5

In [119]:
x = fin_df.drop(columns=['country', 'year', 'uniqueid', 'bank_account'])
x.head()
x = x.loc[:, ~x.columns.duplicated()]
x.head()

,household_size,age_of_respondent,location_type,cellphone_access,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,3,24,0,1,0,5,2,3,9
1,5,70,0,0,0,1,4,0,4
2,5,26,1,1,1,3,3,5,9
3,5,34,0,1,0,1,2,2,3
4,8,26,1,0,1,0,3,2,5

In [129]:
fin_df = fin_df.loc[:, ~fin_df.columns.duplicated()]
y = fin_df.bank_account

y.map({'Yes': 1, 'No': 0})

0        1
1        0
2        1
3        0
4        0
        ..
23519    0
23520    0
23521    0
23522    0
23523    0
Name: bank_account, Length: 23524, dtype: int64

In [131]:
y.value_counts()

bank_account
No     20212
Yes     3312
Name: count, dtype: int64

In [132]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

In [134]:
#Splitting the dataset
X_train, X_test, y_train, y_test = train_test_split(x_scaled,y, test_size= 0.20, random_state=0)

In [135]:
rf = RandomForestClassifier()

rf.fit(X_test, y_test)

RandomForestClassifier()

In [136]:
y_pred = rf.predict(X_test)

In [137]:
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.9874601487778959
              precision    recall  f1-score   support

          No       0.99      1.00      0.99      4005
         Yes       0.98      0.93      0.96       700

    accuracy                           0.99      4705
   macro avg       0.98      0.97      0.97      4705
weighted avg       0.99      0.99      0.99      4705

In [138]:
# Saving the model
import pickle
pickle.dump(rf, open('model_saved', 'wb'))

In [139]:
#Loading the model 
loaded_model = pickle.load(open("C:/Users/mudia/OneDrive/Desktop/JJPF/model_saved", 'rb'))